
# log files
environment/log

# uploaded files
environment/media/storage/*
environment/media/thumbnails/*

# default thumbnail & sample file
!environment/media/thumbnails/default.png
!environment/media/thumbnails/sample.png
!environment/media/storage/sample.png

# config files
resources/public/x.app-build.edn
environment/x.install-log.edn
environment/website-contacts.edn
environment/website-config.edn
environment/website-content.edn
environment/website-impressum.edn

# Log
environment/log

# system files
.DS_Store
node_modules
resources/public/js/core
Procfile
system.properties
log
.cpcache
.shadow-cljs
.idea

# MacOS files
.DS_Store

# Default
*.jar
*.class
/lib/
/classes/
/target/
/node_modules

#
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.shadow-cljs
.idea

# Resources
resources/public/js
resources/public/robots.txt
