
{:source-paths ["source-code" "monoset/source-code"]
 :builds
 {:site        {:asset-path "/js/core"
                :devtools {:watch-dir "resources"
                           :after-load   boot-loader.frontend.site/render-site!}
                :modules {:site {:init-fn boot-loader.frontend.site/start-site!}}
                :output-dir "resources/public/js/core"
                :compiler-options {:infer-externs true}
                :target :browser}

  :app          {:asset-path "/js/core"
                 :devtools {:watch-dir "resources"
                            :after-load boot-loader.frontend.app/render-app!}
                 :modules {:app {:init-fn boot-loader.frontend.app/start-app!}}
                 :output-dir "resources/public/js/core"
                 :compiler-options {:infer-externs true}
                 :target :browser}

  :site-ready  {:modules {:site {:init-fn boot-loader.frontend.site/start-site!}}
                :compiler-options {:infer-externs true}
                :optimizations :advanced
                :asset-path "/js/core"
                :output-dir "resources/public/js/core"
                :target :browser}

  :app-ready    {:modules {:app {:init-fn boot-loader.frontend.app/start-app!}}
                 :compiler-options {:infer-externs true}
                 :optimizations :advanced
                 :asset-path "/js/core"
                 :output-dir "resources/public/js/core"
                 :target :browser}}}
