
{:company-logo "/media/storage/633ac26ce0410454f019cb95.png" 
 :address-groups 
 [{:label "Iroda" 
   :company-address "6726 Szeged, Bérkert utca 37."}] 
 :company-slogan "Lakóautók és kempingcikkek" 
 :company-name "Karaván Centrum" 
 :facebook-links ["facebook.com/karavancentrum"] 
 :meta-keywords 
 ["Karaváncentrum" 
  "Lakóautó értékesítés" 
  "Lakóautó bérbeadás" 
  "Utánfutó értékesítés" 
  "Lakókocsi értékesítés" 
  "Lakókocsi bérlés" 
  "Lakóautó" 
  "Lakókocsi" 
  "Kempingcikkek"] 
 :share-preview-uri "/images/logo.png" 
 :meta-description 
 "Lakóautók és lakókocsik bérbeadása, értékesítése Szegeden. Kempingcikk webáruház." 
 :debug "Follow the white rabbit" 
 :share-preview "/media/storage/633ac26ce0410454f019cb95.png" 
 :meta-name "Karaváncentrum.hu" 
 :meta-title "Karaváncentrum.hu – lakóautók és kempingcikkek" 
 :company-logo-uri "/media/storage/631e81abc235e86a72c94405.png" 
 :contact-groups 
 [{:label "Általános információk" 
   :phone-numbers ["+3630 858 3688"] 
   :email-addresses ["iroda@karavancentrum.hu"]} 
  {:label "Webáruház" 
   :phone-numbers ["+3630 134 9924" "+3630 858 3688"] 
   :email-addresses ["webaruhaz@karavancentrum.hu"]} 
  {:email-addresses ["iroda@karavancentrum.hu"] 
   :label "Jármű-értékesítés, bérbeadás" 
   :phone-numbers ["+3630 792 5552" "+3630 858 3688"]}]}