
{:brands 
 [{:title "Használt lakóautók" 
   :link "hasznaltauto.hu/karavancentrum" 
   :description 
   "Termékeink között megtalálhatók a lakóautók, lakókocsik, kempingbuszok, furgonok, kisbuszok és utánfutók legfontosabb felszerelési cikkei, valamint a kempingezéshez, túrázáshoz és a szabadidő eltöltéséhez ajánlott termékek." 
   :icon 
   {:media/id "63545eb8e04104725c62f3ca" 
    :media/uri "/media/storage/63545eb8e04104725c62f3ca.png"}} 
  {:title "Webáruház" 
   :description 
   "Termékeink között megtalálhatók a lakóautók, lakókocsik, kempingbuszok, furgonok, kisbuszok és utánfutók legfontosabb felszerelési cikkei, valamint a kempingezéshez, túrázáshoz és a szabadidő eltöltéséhez ajánlott termékek." 
   :link-label "Karaván Centrum webáruház" 
   :link "webshop.karavancentrum.hu" 
   :icon 
   {:media/id "63545eb8e04104725c62f3d6" 
    :media/uri "/media/storage/63545eb8e04104725c62f3d6.png"}} 
  {:description 
   "Közel 400 utánfutó modell 2.000 db azonnal elhozható utánfutó Forgalomba helyezés, házhoz szállítás" 
   :title "Utánfutó értékesítés" 
   :link-label "Wörmann utánfutók" 
   :link "woermann.karavancentrum.hu" 
   :icon 
   {:media/id "63545eb8e04104725c62f3d0" 
    :media/uri "/media/storage/63545eb8e04104725c62f3d0.png"}} 
  {:title "Új lakóautók" 
   :link-label "XGO lakóautók" 
   :link "xgolakuautok.hu" 
   :description 
   "Kimagaslóan jó ár-érték arányú járművek a több, mint 40 éves lakóautó gyártási tapasztalattal rendelkező olasz Rimor cégtől. 7 alkóvos, 6 részintegrált, 2 kempingbusz modell" 
   :icon 
   {:media/id "63545eb8e04104725c62f3ca" 
    :media/uri "/media/storage/63545eb8e04104725c62f3ca.png"}}] 
 :rent-informations {:content/id "637e7557b7298c2671ce6643"} 
 :webshop-link "https://webshop.karavancentrum.hu" 
 :about-us-section {:content/id "637e743fb7298c2671ce663e"} 
 :about-us-page {:content/id "637e749bb7298c2671ce6640"} 
 :website-name "Karaván Centrum" 
 :website-slogan "Lakóautók és kempingcikkek"}