
{:x.user.install-handler.side-effects/installer {:result false :installed-at "2022-11-22T17:29:29.216Z"} 
 :app.contents.backend.installer.side-effects/installer {:result true :installed-at "2022-11-22T17:29:29.238Z"} 
 :app.website-config.backend.installer.side-effects/installer {:result false :installed-at "2022-11-23T19:08:29.278Z"} 
 :app.website-contacts.backend.installer.side-effects/installer {:result false :installed-at "2022-11-23T19:08:29.287Z"} 
 :app.website-content.backend.installer.side-effects/installer {:result false :installed-at "2022-11-23T19:08:29.289Z"} 
 :app.website-impressum.backend.installer.side-effects/installer {:result false :installed-at "2022-11-23T19:08:29.292Z"} 
 :app.website-menu.backend.installer.side-effects/installer {:result false :installed-at "2022-11-23T19:08:29.297Z"}}