
/******************************************************************************/
/***** Website *****/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
  --site-width: 1024px;
  background-color: #f4f7f6;
}

/***** Website *****/
/******************************************************************************/

/******************************************************************************/
/***** Effects *****/

.effect--underline {
  text-decoration: none;
  --underline-color: white;
}

.effect--underline:hover::before,
.effect--underline:focus::before {
  transform: scale(1);
}

.effect--underline::before {

  position: absolute;
  bottom: -5px;
  left: 0;

  width: 100%;
  height: 1px;

  content: '';
  transition: transform 300ms;
  transform: scale(0);
  transform-origin: center;

  background-color: var(--underline-color);
}

.effect--bg-grow {
  z-index: 1;
}

.effect--bg-grow::before {
  position: absolute;
  z-index: -1;
  top: 50%; left: 50%;

  display: block;

  width: 100%;
  height: 100%;

  content: '';
  transition: transform 300ms;
  transform: translate(-50%, -50%) scale(0);

  border-radius: 15px;
}

.effect--bg-grow:hover::before,
.effect--bg-grow:focus::before {
  transform: translate(-50%, -50%) scale(1)
}

.effect--bg-grow:hover,
.effect--bg-grow:focus {
  color: white !important;
}

/***** Effects *****/
/******************************************************************************/

/******************************************************************************/
/**** Utils ****/

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  cursor: pointer;
  text-decoration: none;
}

.link:hover,
.link:focus {
  text-decoration: none;
}

.box {
  padding: 25px;

  border-radius: 15px;
  background: rgba(0, 0, 0, 0.4);
}


.table-container {
  overflow-x: auto;

  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 35%);

}

.table {
  overflow: hidden;

  width: 100%;
}

.table thead {
  margin-bottom: 15px;

  white-space: nowrap;
  letter-spacing: 3px;

  background-color: rgba(0,0,0,0.6);

  font-size: 14px;
  font-weight: 500;
}

.table tbody {
  background-color: rgba(0,0,0,0.4);
}

.table th,
.table td {
  padding: 10px;

  text-align: center;
  white-space: nowrap;
}

.table td {
}

/**** Utils ****/
/******************************************************************************/

/******************************************************************************/
/**** Sidebar ****/

.sidebar,
.sidebar--cover {
  transition-property: transform;
  transition-duration: .25s;
  transition-timing-function: ease;
}

.sidebar--cover {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  /* background-color: var( --black-semi-transparent ); */
  height: 100vh;
  right: 0;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(110%);
  transition-property: opacity, z-index;
  transition-delay: .25s;
  transition-duration: .3s;
}

.sidebar--cover[data-visible="true"] {
  opacity: 1;
  transform: translateX(0%);
  z-index: 2;
}

.sidebar--cover[data-visible="false"] {
  opacity: 0;
  z-index: -1;
}

.sidebar--container {
  z-index: 5;
}

.sidebar--content {
  position: fixed;
  top: 0px;
  width: 85%;
  max-width: 500px;
  height: 100%;

  transition: transform 0.3s;
  text-align: center;

  background: #0000006b;
  padding: 15px;

  backdrop-filter: blur(5px);
}

.sidebar--container[data-direction="left"] .sidebar--content {
  left: 0px;
}

.sidebar--container[data-direction="right"] .sidebar--content {
  right: 0px;
}


.sidebar--container[data-direction="left"] .sidebar--close-button {
  text-align: left;
}
.sidebar--container[data-direction="right"] .sidebar--close-button {
  text-align: right;
}

.sidebar--container[data-open=false][data-direction="left"] .sidebar--content {
  transform: translateX(-110%);
}

.sidebar--container[data-open=true][data-direction="left"] .sidebar--content {
  transform: translateX(-0%);
}

.sidebar--container[data-open=false][data-direction="right"] .sidebar--content {
  transform: translateX(110%);
}

.sidebar--container[data-open=true][data-direction="right"] .sidebar--content {
  transform: translateX(0%);
}

/**** Sidebar ****/
/******************************************************************************/

/******************************************************************************/
/**** Navbar ****/

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* padding: 0px 25px; */
  z-index: 10;
  transition: background-color 0.15s;
  font-family: 'Poppins';
  -font-weight: 100;
}

#navbar[data-top="true"] {
  background: hsl(0deg 0% 100% / 0%)
}
#navbar[data-top="false"] {
  background: hsl(0deg 0% 100% / 80%)
}

#navbar--container {
  display: flex;
  align-items: center;
  z-index: 1;

  justify-content: space-between;

  -max-width: var(--site-width);
  height: 75px;
  margin: 0px auto;
  padding: 0 24px;
}

#navbar[data-layout="mobile"] #navbar--container {
  justify-content: center;
}

#logo {
  width: var(--logo-width);

  transition: transform .2s;
  transform: scale(1);
}

#logo img {
  width: 100%;
}

#logo:hover,
#logo:focus-within {
  transform: scale(1.05);
}

#navbar #menu {
  display: flex;

  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  color: #333;
  letter-spacing: 1.5px;
  gap: 50px;
}

#navbar--menu-btn {
  display: flex;
  position: absolute;
  right: 0px;
}

#navbar[data-layout="mobile"] #menu {
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#navbar #menu .effect--underline::before {
  bottom: 0px;
}

/**** Navbar ****/
/******************************************************************************/


.kc-section-title {
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 200;
  font-family: 'Poppins';
  height: 150px;
  display: flex;
  align-items: center;
}

/******************************************************************************/
/**** Section 1 ****/

/**** Hero ****/

#hero {
    height: calc(var(--vh) * 100);
    background-position: 55% 60%;
    background-image: url(/site/images/hero.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center }

#company-name-and-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#company-name {
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-weight: 300;
  font-size: 20px;
  font-family: 'Poppins';
  color: #007cff;
}

#company-slogan {
  font-family: 'Dancing script';
  letter-spacing: 2px;
  font-size: 18px;
  color: #555;
  font-weight: 100;
  line-height: 26px;
}

/* scroll icon */

#scroll-icon {
  position: absolute;
  bottom: 30px;
  width: 21px;
  height: 35px;
  transition: transform 0.5s;
}

#scroll-icon[data-show="false"] {
  transform: translateY(100vh);
}

#scroll-icon button {
  position: unset;
}

#scroll-icon button span {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  align-items: center;
}

#scroll-icon button span::before,
#scroll-icon button span::after {
  position: absolute;
  content: '';
}

#scroll-icon button span::before {
  top: 5px;
  width: 5px;
  height: 5px;
  animation: scroll-icon-anim 2s infinite;
  border-radius: 50%;
  background-color: #fff;
}

#scroll-icon button span::after {
  bottom: -13px;
  width: 10.5px;
  height: 10.5px;
  transform: rotate(-45deg);
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

@keyframes scroll-icon-anim {
  0% {
    transform: translate(0, 0);

    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 15px);

    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* scroll icon */
/*** Hero ***/
/***** Section 1 *****/
/******************************************************************************/

/******************************************************************************/
/**** Section 2 ****/

#renting {
  padding: 150px 0 105px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}

/**** Filters ****/

#filters--container {
  padding: 60px 0 0px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90vw;
  gap: 60px;
}

.filters--icon-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filters--icon-input:disabled ~ .filters--icon-img img {

}

.filters--icon-input:checked ~ .filters--icon-img img{
  opacity: 1;
}

.filters--icon label {
  cursor: pointer;
}

.filters--icon img {
  opacity: 0.4;
  height: 50px;
  width: 50px;
}

.filters--icon:hover,
.filters--icon:focus-within {
  opacity: 0.7;
}

/**** Filters ****/

/**** Vehicles ****/

#vehicles--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 90vw;
}

#kc-rent-informations-button {
  border-radius: 15px;
  -margin-top: 30px;
  background-color: #e6efec;
  line-height: 20px;
  padding: 10px 40px;
  font-size: 13px;
  font-weight: 500;
  color: #333;
}

.vehicle--card {
  border-radius: 25px;
  width: 350px;
  height: 400px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.vehicle--card:hover .vehicle--card-thumbnail {
  height: 105%;
}

.vehicle--card-thumbnail {
  position: absolute;
  height: 100%; width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: height .3s;
}

.vehicle--card-name {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  background-color: hsl(0deg 0% 100% / 85%);
  text-decoration: none;
}

/**** Vehicles ****/

/**** Section 2 ****/
/******************************************************************************/


/******************************************************************************/

#kc-brands {
  align-items: center;
  background-color: #e7edeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#kc-brands--brand-list {
  width: 100%;
}

.kc-brand {
  align-items: center;
  padding: 0 0 200px 0;
  display: flex;
  flex-direction: column;
}

.kc-brand--label {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.kc-brand--link {
  font-size: 11px;
  padding-bottom: 15px;
  font-weight: 500;
  text-align: center;
}

.kc-brand--card {
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  padding: 0 30px 30px 30px;
}

.kc-brand--card:hover {
  background-color: rgba(0,0,0,.06);
}

.kc-brand--description {
  font-size: 15px;
  max-width: 720px;
}

.kc-brand--logo {
  align-self: center;
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 80%;
}

.kc-brand--goto {
  align-self: center;
  font-size: 12px;
  font-weight: 500;
  color: #644141;
}

/******************************************************************************/

/******************************************************************************/

#about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  -justify-content: center;
  min-height: 100vh;
}

/******************************************************************************/

/******************************************************************************/
/**** Section 3 ****/

#contacts {
  border-top: 1px solid #ccc;
  background-color: #bddae5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -padding: 150px 0 0 0}

#contacts--background {
  background-image: url(/site/images/footer.jpg);
  background-position: bottom;
  background-size: cover;
  height: 800px;
}

#contact-groups,
#address-groups {
}

#contact-groups {
  padding-top: 60px;
}

.kc-contact-group,
.kc-address-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px }

.kc-contact-information {
  margin-bottom: 60px }

.kc-contact-information,
.kc-contact-group--label,
.kc-address-group--label {
  padding: 0 6px;
  font-size: 15px;
  line-height: 35px;
  letter-spacing: 2px }

.kc-contact-group--value,
.kc-address-group--value {
  padding: 0 6px;
  color: #007cff !important;
  font-size: 21px;
  line-height: 35px;
  letter-spacing: 2px }

.kc-contact-group--value:hover,
.kc-address-group--value:hover {
  text-decoration: none }

.kc-address-information {
  font-size: 13px;
  max-width: 780px;
  padding: 0 6px }

/**** Section 3 ****/
/******************************************************************************/



/******************************************************************************/
/**** Vehicle page ****/

#vehicle-page--wrapper {
  max-width: var(--site-width);
  margin: 0 auto;
  padding: 150px 0 50px 0;
  display: flex;

  flex-direction: column;
  align-items: center;
}

#vehicle-page--content {
  padding: 24px;
  border-radius: 25px;
  background-color: white }

#vehicle-page--slider {
  border-radius: 25px;
  overflow: hidden;
}

#vehicle-page--slider li {
    align-self: center;
}

#vehicle-page--title {
    text-align: center;
    color: #303c48;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    letter-spacing: 10px;
    font-weight: 200;
    line-height: 30px;
    margin: 80px 0;
    text-transform: uppercase;
}

/**** Vehicle page ****/
/******************************************************************************/
