
{:test
 {:en "Test"
  :hu "Teszt"}

 ; *
 :tutorial
 {:hu "Bevezető"
  :en "Tutorial"}
 :vehicles
 {:hu "Járművek"
  :en "Vehicles"}
 :business
 {:hu "Üzlet"
  :en "Business"}
 :image
 {:hu "Kép"
  :en "Image"}
 :images
 {:hu "Képek"
  :en "Images"}

 ; Storage
 :by-alias-ascending
 {:en "By name (ascending)"
  :hu "Név szerint (növekvő)"}
 :by-alias-descending
 {:en "By name (descending)"
  :hu "Név szerint (csökkenő)"}
 :available-capacity-in-storage-is
 {:en "Available capacity in storage is: % MB"
  :hu "A rendelkezésre álló kapacitás a tárhelyen: % MB"}
 :cant-attach-more-files
 {:en "You can not select more files!"
  :hu "Nem választható ki több fájl!"}
 :failed-to-create-directory
 {:en "Failed to create directory"
  :hu "Sikertelen mappa létrehozás"}
 :file-preview
 {:en "Preview"
  :hu "Megtekintés"}
 :file-storage
 {:en "File storage"
  :hu "Tárhely"}
 :max-uploading-size-is
 {:en "Uploading size is: Max. % MB"
  :hu "Az egyszerre feltölthető fájlok mérete: max. % MB"}
 :my-storage
 {:en "My storage"
  :hu "Saját tárhely"}
 :new-directory
 {:en "New directory"
  :hu "Új mappa"}
 :new-file
 {:en "New file"
  :hu "Új fájl"}
 :search-in-storage
 {:en "Search in storage"
  :hu "Keresés a tárhelyen"}
 :storage
 {:en "Storage"
  :hu "Tárhely"}
 :unnamed-directory
 {:en "Unnamed directory"
  :hu "Névtelen mappa"}
 :unnamed-file
 {:en "Unnamed file"
  :hu "Névtelen fájl"}
 :uploading-size-is
 {:en "Uploading size is: %1 MB / %2 MB"
  :hu "A feltölteni kívánt fájlok mérete: %1 MB / %2 MB"}
 :will-be-deleted-after
 {:en ""
  :hu "A lomtárba helyezett elemek % nap után véglegesen törlődnek."}

 ; Vehicles
 :search-in-vehicles
 {:en "Search in vehicles"
  :hu "Keresés a járművek között"}
 :unnamed-vehicle
 {:en "Unnamed vehicle"
  :hu "Névtelen Jármű"}
 :built-year
 {:en "Built year"
  :hu "Gyártási év"}
 :seat-number
 {:en "Seat number"
  :hu "Ülések száma"}
 :bed-number
 {:en "Bed number"
  :hu "Ágyak száma"}

 ;Vehicle types
 :alcove
 {:en "Alcove"
  :hu "Alkóvos lakóautó"}
 :semi-integrated
 {:en "Semi integrated"
  :hu "Részintegrált lakóautó"}
 :caravan
 {:en "Caravan"
  :hu "Kempingbusz"}
 :van
 {:en "Van"
  :hu "Lakókocsi"}
 :trailer
 {:en "Trailer"
  :hu "Utánfutó"}
 :vehicle-type
 {:en "Vehicle type"
  :hu "Jármű típusa"}

 ; Contents
 :rent-informations
 {:hu "Bérléssel kapcsolatos információk"
  :en "Rent informations"}
 :about-us
 {:hu "Magunkról"
  :en "About us"}
 :main-page
 {:hu "Főoldal"
  :en "Main page"}
 :brands
 {:hu "Márkák"
  :en "Brands"}
 :empty
 {:hu "Nincs megadott érték"
  :en "Field is empty"}
 :image-link
 {:hu "Kép url"
  :en "Image url"}
 :link
 {:hu "Link"
  :en "Link"}}
