
.vehicles-details--thumbnail,
.vehicles-details--thumbnail > * {
  width: 100% !important;
  height: 100% !important;
  aspect-ratio: 16/9
}

.contents--brand-card:hover {
}

[data-grabbing="true"] .contents--brand-card {
  box-shadow: var(--box-shadow-black-x-light);
}

.contents--brand-card[data-edit="false"] i:hover {
  color: #515151 !important;
  cursor: grab;
}

.contents--brand-card[data-edit="false"] i:active {
  color:  var( --color-primary ) !important;
}
